:root{
    --transition-basic: all 0.2s linear;
}

/* background colors */
.bg-cream-subtle{
    background-color: #f1f1e6;
}
.bg-cream{
    background-color: #F5F3CD;
}

/* others */
.hover{
    cursor: pointer;
}

.submenu li{
    transition: var(--transition-basic);
}

.submenu li:hover{
    transform: translateX(10px);
}

/* text */

.text-gray{
    color: rgb(202, 202, 202);
}



/* gapping */
.m-50{
    margin-top: 50px;
}